<h1>Hair Salon App Owners page</h1>

<form action="/reset_database" method="post">
  <button type="submit">Reset Database</button>
</form>

<hr>

<h3>Add a stylist</h3>

<form action="/stylists" method="post">
  <label for="name">Stylist name: </label>
  <input type="text" name="name" id="name">
  <button type="submit">Add Stylist</button>
</form>

<hr>

<h3>Add a client to a stylist</h3>

<form action="/clients" method="post">
  <label for="stylist_id">Select a stylist: </label>
  <select id="stylist_id" name="stylist_id" type="text">
    <%@stylists.each() do |stylist| %>
      <option value="<%=stylist.id()%>"> <%=stylist.name()%></option>
    <% end %>
  </select>

  <label for="name">Client Name:</label>
  <input type="text" name="name" id="name">

  <button type="submit">Add Client</button>
</form>

<hr>

<% if @stylists.any?() %>

<h4>Click on a stylist to see his/her clients:</h4>

<ul>
  <% @stylists.each() do |stylist| %>
  <li><a href="/stylists/<%=stylist.id()%>"><%=stylist.name()%></a></li>
  <% end%>
</ul>

<% else %>

<p>This salon has no stylists yet!</p>

<%end%>
