<h1>Update <%=@stylist.name() %></h1>

<form action="/stylists/<%=@stylist.id()%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename your stylist:</label>
  <input type="text" name="name" id="name">

  <button type="submit">Update Stylist</button>
</form>

<form action="/stylists/<%=@stylist.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Stylist</button>
</form>
